{% extends "layout.html" %}
  {% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static' ,filename='img/home-bg.jpg' )}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Admin Panel</h1>
            <span class="subheading">Manage your posts and change them</span>
          </div>
        </div>
      </div>
    </div>
  </header>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category,message in messages %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}
{% endwith%} 
  <!-- Main Content -->
 
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
      <h1>Basic Actions</h1>
      
      <Button class="btn btn-primary" ><a href="/dashboard">Dashboard Home</a></Button>
      <Button class="btn btn-primary" ><a href="/logout">Logout</a></Button>
      <hr>

        <h2>Add/Edit Posts</h2>
        <form name="sentMessage" id="contactForm" method="post" action="/edit/{{sno}}" novalidate >
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Title</label>
              <input type="text" class="form-control" placeholder="Title" name="title" id="title" value="{{post.title}}" required data-validation-required-message="Please enter the title.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Tagline</label>
              <input type="text" class="form-control" placeholder="Tagline" name="tagline" id="tagline" value="{{post.tagline}}" required data-validation-required-message="Please enter the tagline.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Slug</label>
              <input type="text" class="form-control" placeholder="Slug" name="slug" id="slug" value="{{post.slug}}" required data-validation-required-message="Please enter the slug.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Content</label>
              <textarea rows="5" class="form-control" placeholder="Content"  name="content" id="content"  required data-validation-required-message="Please enter the content.">{{post.content}}</textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Image file</label>
              <input type="text" class="form-control" placeholder="Image File" name="img-file" id="img-file" value="{{post.img_file}}" required data-validation-required-message="Please enter the image file.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="form-group">
            <a href="/edit/{{post.sno}}"><button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button></a>
          </div>
        </form>
  </div>
  </div>      
  
   
        
      </div>
    </div>
  </div>

 
{% endblock %}